//Table
table tr {
  cursor: pointer;
}
table tr:hover {
  background: rgba(105, 163, 189, 0.1);
}

table {
  margin-bottom: 30px;
}

.row {
  margin: 0px !important;
}

.back-button {
  position: relative;
  top: 3px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
}
.back-button:hover {
  color: rgba(0, 0, 0, 0.54);
}

.delete-button{
  margin-left: 10px !important;
}

.page-title {
  display: inline-block;
  padding-right: 20px;
  padding-top: 30px;
}

.list-title {
  padding-top: 30px;
  display: inline-block;
}

.example-margin label{
  margin-top: 6px;
  margin-right: 6px;
}

.role-label {
  padding: 0px 7px;
  color: white;
  margin-left: 10px;
  border-radius: 3px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 13px;
}

.role-label, .receptionist{
  background: #2ecc71;
}

.role-label, .finance{
  background: #f9690e;
}

.role-label, .doctor{
  background: #00b5cc;
}
