table tr {
  cursor: pointer;
}

table tr:hover {
  background: rgba(105, 163, 189, 0.1);
}

table {
  margin-bottom: 30px;
}

.row {
  margin: 0px !important;
}

.back-button {
  position: relative;
  top: 3px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
}

.back-button:hover {
  color: rgba(0, 0, 0, 0.54);
}

.delete-button {
  margin-left: 10px !important;
}

.page-title {
  display: inline-block;
  padding-right: 20px;
  padding-top: 30px;
}

.list-title {
  padding-top: 30px;
}

.example-margin label {
  margin-top: 6px;
  margin-right: 6px;
}

.landingpage--title {
  font-size: 43px;
  font-weight: 700;
}

.landingpage--sub-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 100;
}

.login-form-container {
  width: 100%;
  text-align: center;
  padding: 100px;
}

.scan-ring--button {
  padding: 1px 19px !important;
}

.add-user--link {
  color: white;
  padding-right: 10px;
  font-size: 13px;
}
.add-user--link:hover {
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.link--container {
  font-size: 12px;
  margin-top: 10px;
}

.ring-img {
  width: 100px;
}

.ring-img--container {
  width: 100%;
  text-align: center;
  padding: 25px 0px;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

.welcome-message {
  display: none;
  font-size: 22px;
  font-family: roboto;
}
.welcome-message.fadeIn {
  display: block;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar {
  display: block !important;
  background: linear-gradient(to bottom, #3387b5 20%, #1b5da3 100%);
  color: white;
  height: 70vh;
  min-height: 300px;
  transition: height 0.5s ease-in;
  transition: min-height 0.5s ease-out;
}

.nav-bar--small {
  height: 54px;
  min-height: 54px;
}

.navbar-logo {
  padding-left: 0px;
  width: 145px;
}

.nav-container {
  height: 90% !important;
}

.nav-row {
  height: 100% !important;
  align-items: center !important;
}

.user-icon {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

.navbar-right {
  line-height: 38px;
  float: right;
}

.logout-button {
  font-size: 13px;
  padding-right: 10px;
  cursor: pointer;
}
.logout-button:hover {
  text-decoration: underline;
}

.navbar-username {
  font-size: 13px;
  padding-right: 10px;
}

.sidenav-container {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 20px;
}

.body-content {
  height: 30vh !important;
  min-height: 150px;
}

.body-content--streched {
  height: calc(100vh - 54px) !important;
}

.sidenav-tab {
  padding: 5px 50px 5px 5px;
  margin-top: 5px;
  border-left: 5px solid transparent;
  cursor: pointer;
}
.sidenav-tab:hover {
  border-left: 5px solid white;
  background: rgba(105, 163, 189, 0.1);
}

.sidenav-tab-title {
  display: inline-block;
}

.sidenav-tab-icon {
  position: relative;
  top: 2px;
  font-size: 15px;
}

.footer {
  text-align: right;
  font-size: 12px;
  bottom: 8px;
  position: fixed;
  right: 10px;
}

.footer-logo {
  width: 69px;
  padding: 0px 6px;
}

.form-container {
  width: 100%;
  background: white;
  padding: 40px 60px;
  border-radius: 2px;
  margin-bottom: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.ring-information {
  margin-right: 20px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-error {
  padding-bottom: 10px;
  color: red;
}

svg {
  width: 50px;
  height: 55px;
  margin: 20px;
  display: inline-block;
}

/*# sourceMappingURL=styles.scss.map */
